.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    margin-bottom: 20px;
    /* margin-left: 0px; */
    margin-top: 0px;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    /* background-color: #f4f6f8; */
}
  
.header-content h1 {
    margin: 0;
    font-size: 1.8rem;
    color: #AB1CAF;
}
  
.header-content p {
    margin: 5px 0 0;
    font-size: 1rem;
    color: #666666;
}
  
.header-actions {
    align-items: center;
    gap: 20px;
}

.header-actions p{
    display: flex;
    justify-content: flex-end;
    color: #64748B;
}

.headers-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.headers-info > div p:first-of-type {
  font-weight: 600; /* Font weight for the first paragraph */
  font-size: 20px;  /* Font size for the first paragraph */
  color: #1E293B;
}

.headers-info > div p:last-of-type {
  font-weight: 400; /* Font weight for the second paragraph */
  font-size: 14px;  /* Font size for the second paragraph */
  color: #475569;
}


.headers-info div:nth-child(2){
    display: flex;
    flex-direction: column;
    color: #CBD5E1;
    justify-content: center;
    align-items: flex-start;
    border-left: 1px solid #a49d9d; /* Left border */
    border-right: 1px solid #a49d9d;
    height: 20px; 
    padding-left: 15px;
    padding-right: 15px;
    width: 135px;
}
  
.header-actions div p {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    color: #333333;
    text-align: right;
}
  
.header-actions button {
    padding: 10px 20px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.header-actions button:hover {
    background-color: #357acb;
}
  