.profile-header-container{
    display: flex;
}

.c-logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    padding: 0px;
}

.profile-logo-container{
    width: max-content;
    flex-grow: 1;
    flex-shrink: 0;
    min-width: 780px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    border-left: 1px solid #ddd;
}

.menu-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 30px;
    font-weight: 400;
}

.profile-img{
    cursor: pointer;
}

.menu-icon-container svg:first-of-type{
    display: none;
}

/* Media query for mobile view */
  @media (max-width: 768px) {
    .menu-icon-container svg:first-of-type{
    display: flex;
}
  }