/* Ensure the login container does not overflow */
.login-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

/* Style for the logo image container */
.logo-image {
  width: 75%;
  display: flex;
  justify-content: center; /* Center the image horizontally */
}

.logo-image img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  max-height: 100vh; /* Prevent the image from overflowing vertically */
}

/* Style for the login page container */
.login-page {
  width: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  gap: 300px; /* Adjust gap for better spacing */
  min-width:250px;
}

/* Make the button responsive */
.login-page button {
  padding: 10px 30px; /* Adjust padding */
  border-radius: 5px;
  border: 1px solid #AB1CAF;
  background-color: #FEF4FF;
  font-size: 16px; /* Set a standard font size */
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page button img{
  height:25px;
  padding-right: 10px;
}



@media (max-width: 998px) {
  .login-container {
    flex-direction: column; /* Stack logo and login page vertically */
  }

  .logo-image {
    width: 100%; /* Logo takes full width on small screens */
    height: 70%;
  }

  .login-page {
    width: 100%; /* Login page takes full width on small screens */
    height: 30%;
    gap: 30px;
  }

  .login-page button {
    font-size: 14px; /* Adjust font size for very small screens */
  }
}
