.sidebar {
  width: 250px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px; /* Compressed width */
  transition: width 0s ease;
  /* border-top: 2px solid #ffffff; */
}

.sidebar.expanded {
  width: 250px; /* Expanded width */
}

/* .logo-sidebar{
  width: 250px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: orange;
  border-bottom: 1px solid #bb1414;
  padding: 30px;
  padding-top: 0px;
} */

.open-close-c-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    padding: 20px 10px;
    border-bottom: 1px solid #ddd
}

.logo-sidebar {
  display: flex; /* Enables flexbox */
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  border-bottom: 1px solid #ddd;
  width: 100%;
  height:54px;
  padding: 20px 0px;
}


.sidebar h2 {
  margin-bottom: 30px;
  font-size: 1.5rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.sidebar ul li {
  padding: 15px 20px;
  margin: 5px 0;
  color: gray;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  display: flex; /* Ensure items are aligned horizontally */
  justify-content: center; /* Align text to the left */
  align-items: center; /* Vertically align icon and text */
}

.icon-spacing {
  margin-right: 10px; /* Adjust the value as needed */
  color:#8E198F;
}

.icon-left-spacing{
  padding-left: 60px;
}

.list-item {
  display: flex;
  justify-content: flex-start; /* Align text and icon to the left */
  align-items: center;
  font-size: 18px;
  width: 100%; /* Ensures the item spans the full width */
}

/* .list-item svg{
   background: linear-gradient(#AB1CAF, #519CDF);

} */

.sidebar ul li:hover {
  color:#D029D8;
   color:white;
  /* background-color: #FBE8FF; */
  background: linear-gradient(to right,#AB1CAF, #519CDF);
}

ul li:hover .list-item .icon-spacing {
  color: white;
}

/* Media query for mobile view */
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%); /* Hide off-screen */
    position: fixed;
    top: 0px;
    left: 0;
    height: 100%;
  }

  .close-icon{
    background-color: red;
  }
  .sidebar.open {
    transform: translateX(0); /* Slide in */
    background-color:white;
    width: 250px;
  }
  .logo-sidebar {
    display: flex;
    justify-content: space-around;
  }
}
