.btn-group{
  display: flex;
  margin: 20px;
}

.leads-btn{
   display: flex; /* Enables Flexbox */
  align-items: center; /* Centers items vertically */
  justify-content: center; /* Centers items horizontally */
  background-color: #E2F3FF;
  border-radius: 10px;
  border: 2px solid #18508C;
  padding: 10px;
  gap: 10px;
}

.today-leads{
  margin-right: 20px;
}

.today-leads span{
  background-color: #18508C;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 12px;
  font-size: 18px;
  color:white;
}
.yes-leads{
  border: 2px solid #E2E8F0;
  background-color: white;
}

.yes-leads span{
  background-color: #F1F5F9;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 12px;
  font-size: 18px;
  color:#64748B;
}

.table-header{
  display: flex;
  justify-content: space-between;
  margin: 20px;
    padding: 10px;
}

.table-header button {
  border: none;       /* Removes the border */
  background: none;   /* Removes the background */
  color: inherit;     /* Inherits text color from parent */
  font: inherit;      /* Inherits font style and size */
  cursor: pointer;    /* Shows pointer cursor on hover */
}

.leads{
  font-size: 20px;
  font-weight: 600;
}

.leads span{
  font-size: 12px;
  font-weight: 300;
}


.filters{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search-box{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d6d2d2; /* Solid border with a 2px width and black color */
  border-radius: 8px;    /* Slightly rounded corners */
  padding: 8px;         /* Optional: Add padding inside the div */
  width: fit-content;
}

.search-box input{
  width:300px;
  padding: 3px;
  border: none;
}

.add-color{
  background-color:#18508C;
  color: white;
}

.leads-table {
    margin: 20px;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 1px solid #ddd;
    border-radius: 5px;padding-left: 0px;
    padding-right: 0px;
  }
  
  .leads-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .leads-table th{
     padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #F1F5F9;
    vertical-align: middle;   
  }
  .leads-table td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
  }

  tbody tr:nth-child(odd) {
  background-color: white;
}

tbody tr:nth-child(even) {
  background-color: #FEF4FF;
}

  
  .leads-table .status {
    text-transform: capitalize;
    font-weight: bold;
 
  }

  .status.prospect span {
    background-color: #F1F5F9;
    color: #1E293B;
    padding: 5px;
    border-radius: 20px;
  }

.status.qualified span {
  background-color:#F0FDF4;
  color: #15803D;
  padding: 5px;
    border-radius: 20px;
}

.status.not-qualified span {
  background-color: #FEF2F2;
  color: #B91C1C;
  padding: 5px;
    border-radius: 20px;
}

.status.follow-up span {
  background-color:#FEF3C7;
  color: #92400E;
  padding: 5px;
    border-radius: 20px;
}

.status.trial-booked span {
  background-color:#F0FDF4;
  color: #15803D;
  padding: 5px;
    border-radius: 20px;
}

.status.trial-completed span {
  background-color: #DCFCE7;
  color: #166534;
  padding: 5px;
    border-radius: 20px;
}

.status.payment-created span {
  background-color: #E4EDFA;
  color: #184574;
  padding: 5px;
    border-radius: 20px;
}

.status.enrolled span {
  background-color: #FBE8FF;
  color: #8E198F;
  padding: 5px;
    border-radius: 20px;
}

.status.trial-follow-up span {
  background-color:#FEF3C7;
  color: #92400E;
  padding: 5px;
    border-radius: 20px;
}

.status.not-enrolled span {
  background-color: #FEE2E2;
  color:#991B1B;
  padding: 5px;
    border-radius: 20px;
}

  .eye-button{
    border: none;       /* Removes the border */
  background: none;   /* Removes the background */
  color: inherit;     /* Inherits text color from parent */
  font: inherit;      /* Inherits font style and size */
  cursor: pointer; 
  }

  .last{
    width: 200px;
  }

  .table-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F1F5F9;
    padding-left: 10px;
    padding-right: 10px;
  }

  .table-bottom div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 900;
  }

  .table-bottom div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 900;
    margin-right:20px;
  }

  .table-bottom div:nth-child(2) p:nth-of-type(2){
    font-weight: 300;
  }

  .table-bottom div:first-child p:nth-of-type(2) {
    padding-left: 20px;
    font-weight: 300;
  }

  .icon-with-borders {
    border-left: 2px solid #a49d9d; /* Left border */
    border-right: 2px solid #a49d9d; /* Right border */
    padding-left: 10px;  /* Optional: to add spacing between the icon and the left border */
    padding-right: 10px; /* Optional: to add spacing between the icon and the right border */
    padding-top: 15px;
    padding-bottom: 15px;
  }

  
/* Add hover effect for rows */
tbody tr:hover {
  background-color: #f1f1f1;
}



  


  