.table-header{
  display: flex;
  justify-content: space-between;
  margin: 20px;
    padding: 10px;
}

.table-header button {
  border: none;       /* Removes the border */
  background: none;   /* Removes the background */
  color: inherit;     /* Inherits text color from parent */
  font: inherit;      /* Inherits font style and size */
  cursor: pointer;    /* Shows pointer cursor on hover */
}

.leads{
  font-size: 20px;
  font-weight: 600;
}

.leads span{
  font-size: 12px;
  font-weight: 300;
}


.filters{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.search-box{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d6d2d2; /* Solid border with a 2px width and black color */
  border-radius: 8px;    /* Slightly rounded corners */
  padding: 8px;         /* Optional: Add padding inside the div */
  width: fit-content;
}

.search-box input{
  width:300px;
  padding: 3px;
  border: none;
}

.add-color{
  background-color: blue;
}

.leads-table {
    margin: 20px;
    padding: 10px;
    padding-bottom: 0px;
    border: 1px solid #ddd;
    border-radius: 5px;padding-left: 0px;
    padding-right: 0px;
  }
  
  .leads-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .leads-table th{
     padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    
  }
  .leads-table td {
    padding: 10px;
    text-align: left;
  }
  
  .leads-table .status {
    text-transform: capitalize;
    font-weight: bold;
  }
  
  .leads-table .status.prospect {
    color: blue;
  }
  
  .leads-table .status.qualified {
    color: green;
  }
  
  .leads-table .status.not-qualified {
    color: red;
  }

  .eye-button{
    border: none;       /* Removes the border */
  background: none;   /* Removes the background */
  color: inherit;     /* Inherits text color from parent */
  font: inherit;      /* Inherits font style and size */
  cursor: pointer; 
  }

  .last{
    background-color: red;
  }

  .table-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    padding-left: 10px;
    padding-right: 10px;
  }

  .table-bottom div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 900;
  }

  .table-bottom div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 900;
    margin-right:20px;
  }

  .table-bottom div:nth-child(2) p:nth-of-type(2){
    font-weight: 300;
  }

  .table-bottom div:first-child p:nth-of-type(2) {
    padding-left: 20px;
    font-weight: 300;
  }

  .icon-with-borders {
    border-left: 2px solid #a49d9d; /* Left border */
    border-right: 2px solid #a49d9d; /* Right border */
    padding-left: 10px;  /* Optional: to add spacing between the icon and the left border */
    padding-right: 10px; /* Optional: to add spacing between the icon and the right border */
    padding-top: 15px;
    padding-bottom: 15px;
  }



  


  