.app {
  display: flex;
  font-family: Arial, sans-serif;
  background-color: #f8f9fc;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
  border-left: 1px solid #ddd;
}
